body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050322;
    padding: 10px 20px;
}

.logo img {
    height: 60px;
    width: 130px;
}

.search_box {
    display: flex;
    align-items: center;
    background: #f9faff;
    border-radius: 20px;
    padding: 5px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
}

.search_box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 20px 0 0 20px;
}

.search_box button {
    background: #555;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
}

.search_box button:hover {
    background: #777;
}

.operations {
    font-size: 20px;
}

.operations a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.3s;
}

.operations a:hover {
    background: #555;
    border-radius: 5px;
}

.second_part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 5vh;
}

.live_updates_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 40vh;
    padding: 10px;
}

.live_updates {
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.notification_box {
    width: 30%;
    height: 30vh;
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.notification_box h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.notification_box ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.notification_box ul li {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .search_box {
        width: 100%;
        margin: 10px 0;
    }
    .operations {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .operations a {
        padding: 8px;
    }
    .live_updates_container {
        flex-direction: column;
    }
    .live_updates, .notification_box {
        width: 100%;
        margin-bottom: 10px;
    }
    .carousel {
        max-width: 100%;
    }
}
